<section id="signup" class="">
  <div
    class="bg-white rounded-xl px-4 py-8 max-w-md mx-auto mt-32 flex flex-col gap-4"
  >
    <h2 class="font-bold text-2xl text-center">Sign Up</h2>
    <div class="flex flex-col gap-4">
      <div class="">
        <p-floatlabel variant="on" [formGroup]="this.formGroup">
          <input
            pInputText
            id="email_label"
            formControlName="email"
            class="w-full"
          />
          <label for="email_label">Email</label>
        </p-floatlabel>
        <small class="text-red-500">
          <ul class="">
            @if (this.formGroup.get('email')?.touched &&
            this.formGroup.get('email')?.hasError('required') ||
            this.formGroup.get('email')?.hasError('email')) {
            <li class="">Please enter a valid email address.</li>
            } @if (this.formGroup.get('email')?.dirty &&
            this.formGroup.get('email')?.value === '') {
            <li class="">Please enter your email</li>
            }
          </ul>
        </small>
      </div>
      <div class="">
        <p-floatlabel variant="on" [formGroup]="this.formGroup">
          <p-password
            styleClass="w-full"
            inputStyleClass="w-full"
            [feedback]="false"
            id="password_label"
            formControlName="password"
            [toggleMask]="true"
          />
          <label for="password_label">Password</label>
        </p-floatlabel>
        <small class="text-red-500">
          <ul class="">
            @if (this.formGroup.get('password')?.touched &&
            this.formGroup.get('password')?.hasError('required')) {
            <li class="">Please enter a strong password.</li>
            } @if (this.formGroup.get('password')?.dirty &&
            this.formGroup.get('password')?.value === '') {
            <li class="">Please enter your email</li>
            } @if(this.formGroup.get('password')?.touched &&
            this.formGroup.get('password')?.hasError('minlength')) {
            <li class="">Please enter a password with at least 8 characters</li>
            }
          </ul>
        </small>
      </div>
    </div>
    <p-button
      label="Sign Up"
      styleClass="w-full"
      size="small"
      (onClick)="this.signup()"
    />
  </div>
  <p class="text-center mt-4">
    Already a member? 
    <a class="text-blue-500 hover:underline cursor-pointer duration-500 ease-linear" routerLink="/login">Log In</a>
  </p>
</section>
<p-toast></p-toast>