<nav class="bg-white py-4 mb-4">
  <div class="app-container">
    <div class="flex items-center justify-between">
      <h1 class="font-bold text-2xl cursor-pointer" routerLink="/">
        Panvar Billing Suite
      </h1>
      <div class="flex items-center gap-2">
        <p-button label="Log In" size="small" routerLink="/login" />
        <p-button
          label="Sign Up"
          severity="secondary"
          size="small"
          routerLink="/signup"
        />
      </div>
    </div>
  </div>
</nav>
